<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite Experiments" verbose="1" >
    <test name="Create, List, Update and Delete">
        <classes>
            <class name="acceptance.experiments.CreatesExperiments"/>
            <class name="acceptance.experiments.ListExperiments"/>
            <class name="acceptance.experiments.GetExperimntById"/>
            <class name="acceptance.experiments.UpdateExperiment"/>
            <class name="acceptance.experiments.DeleteExperiment"/>
        </classes>
    </test>
</suite>
