<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite Experiments" verbose="1" >
    <test name="Create, List, Update and Delete">
        <classes>
            <class name="acceptance.datasets.CreatesDatasets"/>
            <class name="acceptance.datasets.GetDatasetsTimeFrames"/>
            <class name="acceptance.datasets.GetDatasetsColumns"/>
            <class name="acceptance.datasets.GetDatasetsById"/>
            <class name="acceptance.datasets.ListDatasets"/>
            <class name="acceptance.datasets.PatchDatasetsById"/>
            <class name="acceptance.datasets.DeleteDatasetsById"/>
        </classes>
    </test>
</suite>
